{% extends "base.html" %}
{% block content %}
    <h1>User List</h1>
    <div class="table-responsive mx-5 mt-4">
        <table class="table table-striped mb-4">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>User Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            <span id="userType_{{ user.id }}">{{ user.profile.user_type }}</span>
                            <div id="editUserType_{{ user.id }}" style="display: none;">
                                <!-- Add a form or input field to edit user type -->
                                <!-- Example (you need to replace this with your form implementation): -->
                                <form action="{% url 'update_user_type' user.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="user_type" value="{{ user.profile.user_type }}">
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            {% comment %} <button onclick="toggleEditUserType({{ user.id }})">Edit</button> {% endcomment %}
                            <a href="{% url 'update_user_type' user.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
        function toggleEditUserType(userId) {
            document.getElementById(`userType_${userId}`).style.display = 'none';
            document.getElementById(`editUserType_${userId}`).style.display = 'block';
        }
    </script>

{% endblock %}
