<!-- profile.html -->
{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="container mt-4">

  {% for message in messages %}
  <div class="alert alert-light alert-dismissible fade show" role="alert" style="background-color: #ffcccc;">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  

    <div class="row">
    
        <div class="col-md-4" style="background-color:; padding: 5px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); margin-bottom: 50px;">
            <div class="card">
                <div class="card-body">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      {% if profile.fullname %}  
                        <h5>{{ profile.fullname }}</h5>
                      {% else %}
                        <h5>{{ profile.user }}</h5>
                      {% endif %}
                        <a href="{% url 'edit_profile' %}">
                          <i class="fas fa-edit"></i> Edit
                        </a>
                      </div>
                      <p>Last Updated: {{ profile.last_updated }}</p>

                    <div class="profile-section">
                      {% if profile.profile_image %}
                      <div class="profile-image-container">
                          <div class="profile-image-frame">
                              <img src="{{ profile.profile_image.url }}" alt="Profile Image" class="profile-image" style="width: 150px;">
                          </div>
                      </div>

                      {% else %}
                      <div class="profile-image-container">
                        <div class="profile-image-frame">
                            <i class="fas fa-user-circle fa-5x"></i>
                        </div>
                      </div>
                      {% endif %}
                  

                        <div class="profile-details">
                            {% if profile.bio %}
                              <p>{{ profile.bio }}</p>
                            {% else %}
                              <p><strong>Bio:</strong> N/A</p>
                            {% endif %}

                            {% if profile.university %}
                              <p><strong>Dept. of {{ profile.department }}, {{ profile.university}}</strong></p>
                            {% else %}
                              <p><strong>Department:</strong> N/A</p>
                            {% endif %}

                            {% if profile.year and profile.semester %}
                              <p>
                                {% if profile.year == 1 %}
                                  {{ profile.year }}st Year,
                                {% elif profile.year == 2 %}
                                  {{ profile.year }}nd Year,
                                {% elif profile.year == 3 %}
                                  {{ profile.year }}rd Year,
                                {% elif profile.year == 4 %}
                                  {{ profile.year }}th Year,
                                {% endif %}

                                {% if profile.semester == 1 %}
                                  {{ profile.semester }}st Semester
                                {% elif profile.semester == 2 %}
                                  {{ profile.semester }}nd Semester
                                {% endif %}
                              </p>
                            {% else %}
                              <p><strong>Year:</strong> N/A</p>
                              <p><strong>Semester:</strong> N/A</p>
                            {% endif %}

                            {% if profile.departmental_batch and profile.session %}
                              <p>{{ profile.departmental_batch }} Batch (dept.), *th Batch (varsity), {{ profile.session }} session</p>
                            {% else %}
                              <p><strong>Batch:</strong> N/A</p>
                              <p><strong>Session:</strong> N/A</p>
                            {% endif %}

                            {% if profile.fullname %}
                              <p><strong>Fullname:</strong> {{ profile.fullname }}</p>
                            {% else %}
                              <p><strong>Fullname:</strong> N/A</p>
                            {% endif %}

                            {% if profile.nickname %}
                              <p><strong>Nickname:</strong> {{ profile.nickname }}</p>
                            {% else %}
                              <p><strong>Nickname:</strong> N/A</p>
                            {% endif %}

                            {% if profile.email %}
                              <p><strong>Email:</strong> {{ profile.email }}</p>
                            {% else %}
                              <p><strong>Email:</strong> N/A</p>
                            {% endif %}

                            <p><strong>Is Verified: </strong>{{ profile.is_verified }}</p>

                            {% if profile.facebook_id or profile.codeforces_id %}
                              <p><strong>Social Links:</strong></p>

                              <a href="{{ profile.facebook_id }}" target="_blank"><i class="fab fa-facebook fa-2x p-2 " title="Facebook"></i></a>

                              <a href="{{ profile.codeforces_id }}" target="_blank"><i class="fas fa-globe fa-2x p-2" title="Codeforces"></i></a>
                            {% else %}
                              <p><strong>Social Links:</strong> N/A</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                {% comment %} <a href="#" class="btn btn-primary">Change Password</a> {% endcomment %}
            </div>
        </div>

        <div class="col-md-8">
            <h4>My Contributions:</h4>
            <h6>Total Uploads: {{total_uploads}}</h6>

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">1st Sem</th>
                    <th scope="col">2nd Sem</th>
                    <th scope="col">3rd Sem</th>
                    <th scope="col">4th Sem</th>
                    <th scope="col">5th Sem</th>
                    <th scope="col">6th Sem</th>
                    <th scope="col">7th Sem</th>
                    <th scope="col">8th Sem</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Questions</th>
                    <td> {{ qs_sem1 }}</td>
                    <td>{{ qs_sem2 }}</td>
                    <td>{{ qs_sem3 }}</td>
                    <td>{{ qs_sem4 }}</td>
                    <td>{{ qs_sem5 }}</td>
                    <td>{{ qs_sem6 }}</td>
                    <td>{{ qs_sem7 }}</td>
                    <td>{{ qs_sem8 }}</td>
                   <td><strong>{{ qs_total }}</strong></td>
                  </tr>

                  <tr>
                    <th scope="row">Books</th>
                    <td>{{books_sem1}}</td>
                    <td>{{books_sem2}}</td>
                    <td>{{books_sem3}}</td>
                    <td>{{books_sem4}}</td>
                    <td>{{books_sem5}}</td>
                    <td>{{books_sem6}}</td>
                    <td>{{books_sem7}}</td>
                    <td>{{books_sem8}}</td>
                    <td><strong>{{books_total}}</strong></td>
                  </tr>

                  <tr>
                    <th scope="row">Notes</th>
                    <td>{{notes_sem1}}</td>
                    <td>{{notes_sem2}}</td>
                    <td>{{notes_sem3}}</td>
                    <td>{{notes_sem4}}</td>
                    <td>{{notes_sem5}}</td>
                    <td>{{notes_sem6}}</td>
                    <td>{{notes_sem7}}</td>
                    <td>{{notes_sem8}}</td>
                    <td><strong>{{notes_total}}</strong></td>
              
                  </tr>

                  <tr>
                    <th scope="row">Lecture Slides</th>
                    <td>{{lectures_sem1}}</td>
                    <td>{{lectures_sem2}}</td>
                    <td>{{lectures_sem3}}</td>
                    <td>{{lectures_sem4}}</td>
                    <td>{{lectures_sem5}}</td>
                    <td>{{lectures_sem6}}</td>
                    <td>{{lectures_sem7}}</td>
                    <td>{{lectures_sem8}}</td>
                    <td><strong>{{lectures_total}}</strong></td>
                  </tr>

                <tr>
                    <th scope="row">Total</th>
                    <td><strong>{{all_sem1}}<strong/></td>
                    <td><strong>{{all_sem2}}<strong/></td>
                    <td><strong>{{all_sem3}}<strong/></td>
                    <td><strong>{{all_sem4}}<strong/></td>
                    <td><strong>{{all_sem5}}<strong/></td>
                    <td><strong>{{all_sem6}}<strong/></td>
                    <td><strong>{{all_sem7}}<strong/></td>
                    <td><strong>{{all_sem8}}<strong/></td>
                    <td><strong>{{total_uploads}}<strong/></td>
                  </tr>
                  
                </tbody>
              </table>

            {% comment %} 
                <h5>Questions:</h5>
                <hr>
                <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">1st Mid</th>
                        <th scope="col">2nd Mid</th>
                        <th scope="col">3rd Mid</th>
                        <th scope="col">Class Test</th>
                        <th scope="col">Lab Test</th>
                        <th scope="col">Lab Final</th>
                        <th scope="col">Final </th>
                        <th scope="col">Total </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1st Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">2nd Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">3rd Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">4th Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">5th Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">6th Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">7th Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row">8th Sem</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>

                      <tr>
                        <th scope="row" colspan="8">Total</th>
                        <td>0</td>
                      </tr>

                    </tbody>
                  </table>  {% endcomment %}



                {% comment %} <div class="mx-5">
                    <p>{% lorem 4 b random %}</p>
                </div> {% endcomment %}

        </div>
    </div>
</div>


<link rel="stylesheet" href="{% static 'css/profile.css' %}">


{% endblock %}
