{% extends "base.html" %}

{% block title %}Add Note{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Add Note</h2>

          <form method="post" id="QuestionForm" enctype="multipart/form-data" data-departments-url="{% url 'ajax_load_departments' %}" data-courses-url="{% url 'ajax_load_courses' %}">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Submit</button>
            
          </form>

        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}
