<!-- course_page.html -->
{% extends "base.html" %}

{% block title %}Course Page{% endblock %}

{% block content %}
<div>
    <div class="container text-center mt-3">
        <h2>{{ course.title }}</h2>
        <p><b>Course Code: {{ course.code }}</b></p>
        <h6>Department of {{ department.name }}, {{ university.name }}</h6>
    </div>
</div>

<br>

<div class="mx-5">
    <p><strong>Syllabus:</strong> {{ course.syllabus }}</p>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-3"> <!-- Each card takes up 3 columns to make a total of 4 in a row -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questions ({{question_count}})</h5>
                    <p class="card-text">Explore a collection of previous year exam questions.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'view_questions' course.id %}" class="btn btn-primary btn-block  view-btn">View</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Books ({{book_count}})</h5>
                    <p class="card-text">Explore a collection of books of different authors.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'view_books' course.id %}" class="btn btn-primary btn-block  view-btn">View</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lecture Slides ({{lecture_count}})</h5>
                    <p class="card-text">Explore a collection of lectures slides prepared by different teachers.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'view_lectures' course.id %}" class="btn btn-primary btn-block  view-btn">View</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notes ({{note_count}})</h5>
                    <p class="card-text">Explore a collection of notes prepared by different students.</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'view_notes' course.id %}" class="btn btn-primary btn-block  view-btn">View</a>
                </div>
            </div>
        </div>

      
    </div>
</div>

{% endblock %}
