<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}My Educational Platform{% endblock %}</title>

    <style>
        .view-btn {
            background-color: #56595C;
            border-color: gray;
        }

        .view-btn:hover {
            background-color: #1B1C1C;
            border-color: darkgray;
        }
    
        .resources-border {
            border: 1.5px solid #c7c8c9 !important; /* Adjust color as needed */
        }

        .custom-col {
            width: 2%; /* Adjust the percentage as needed */
        }
        
        
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Onebyzero Edu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>

                {% comment %} Contribute {% endcomment %}
                {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contribute
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'add_question' %}">Question</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_book' %}">Book</a></li>
                                {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                                <li><a class="dropdown-item" href="{% url 'add_lecture' %}">Lecture Slide</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_note' %}">Note</a></li>
                                {% comment %} <li><a class a class="dropdown-item" href="#">Another</a></li> {% endcomment %}
                            </ul>
                        </li>
                {% endif %}


                         {% comment %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'my_department' department_id course_id %}">My Department</a>
                        </li> {% endcomment %}
                
                {% if user.is_authenticated %}
                    {% if user.profile.department and user.profile.year and user.profile.semester %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'my_resources' user.profile.department.id user.profile.year user.profile.semester %}">My Resources</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'my_resources_selection' %}">My Resources</a>
                        </li>
                    {% endif %}
                {% endif %}
                    
                    
                    {% comment %} {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'university_detail' 1 %}">University</a>
                        </li>
                    {% endif %} {% endcomment %}

                        {% comment %} <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Resources</a>
                        </li> {% endcomment %}
            
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'my_department' 1 1 %}">Department</a>
                        </li>
                    {% endif %}

                        {% comment %} <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li> {% endcomment %}
                    </ul>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="path/to/your/profile/image.jpg" alt="Profile" width="24" height="24">
                                    </a>
                                </li> {% endcomment %}
                                
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'user_list' %}">Users</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'leaderboard' %}">Leaderboard</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'my_profile' %}">Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                                </li>

                              

                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    {% comment %} <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> {% endcomment %}
                </div>
            </div>
        </nav>
    </header>

    <div>
        {% if request.user.is_authenticated %}
        {% comment %} <div class="alert alert-success" role="alert">
            <h6 class="alert-heading">Welcome, {{ user.username }}!</h6>
        </div> {% endcomment %}
        {% endif %}
    </div>

    <main>
        {% block content %}
     
        {% endblock %}
    </main>

    <footer class="fixed-bottom text-center">
        <p>&copy; Onebyzero Edu</p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function handleLoveClick(questionId) {
            fetch(`/handle_love_click/${questionId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                const loveCountElement = document.getElementById(`loveCount${questionId}`);
                loveCountElement.textContent = data.love_count;
                const loveIcon = document.getElementById(`loveIcon${questionId}`);
                loveIcon.classList.remove('far');
                loveIcon.classList.add('fas');
            })
            .catch(error => console.log(error));
        }
    </script>

    <script>
        $("#id_university").change(function () {
            const url = $("#QuestionForm").attr("data-departments-url");  // get the url of the `load_cities` view
            const universityId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'university_id': universityId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_department").html(data);  // replace the contents of the city input with the data that came from the server
                    /*

                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);

                    */
                }
            });

        });
    </script> 

    <script>
        $("#id_university, #id_department, #id_year, #id_semester").change(function () {
            const url = $("#QuestionForm").attr("data-courses-url");
            const universityId = $("#id_university").val();
            const departmentId = $("#id_department").val();
            const year = $("#id_year").val();
            const semester = $("#id_semester").val();
    
            $.ajax({
                url: url,
                data: {
                    'university_id': universityId,
                    'department_id': departmentId,
                    'year': year,
                    'semester': semester
                },
                success: function (data) {
                    $("#id_course").html(data);
                }
            });
        });
    </script> 
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>
    