{% extends "base.html" %}

{% block title %}My Department{% endblock %}

{% block content %}

{% comment %} {% for msg in messages %}
  <div class="alert alert-{{ msg.tags }}" role="alert">
    {{ msg }}
  </div>
{% endfor %} {% endcomment %}


  <div class="container mt-4 mb-4">
      <div class="text-center mt-3">
        <h2>Department of {{ department.name }}</h2>
        <h4>{{ university.name }}</h4>
      </div>

      {% comment %} <div>
        <a href="{% url 'switch_department' %}">Switch Department</a>
      </div> {% endcomment %}

      <br>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Total Courses</th>
            <th scope="col">Total Credits</th>
            <th scope="col">Total Hours</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1st Sem</th>
              <td>{{courses_sem1}}</td>
              <td>{{credits_sem1}}</td>
              <td>{{hours_sem1}}</td>
            </tr>

            <tr>
              <th scope="row">2nd Sem</th>
              <td>{{courses_sem2}}</td>
              <td>{{credits_sem2}}</td>
              <td>{{hours_sem2}}</td>
            </tr>

            <tr>
              <th scope="row">3rd Sem</th>
              <td>{{courses_sem3}}</td>
              <td>{{credits_sem3}}</td>
              <td>{{hours_sem3}}</td>
            </tr>

            <tr>
              <th scope="row">4th Sem</th>
              <td>{{courses_sem4}}</td>
              <td>{{credits_sem4}}</td>
              <td>{{hours_sem4}}</td>
            </tr>

            <tr>
              <th scope="row">5th Sem</th>
              <td>{{courses_sem5}}</td>
              <td>{{credits_sem5}}</td>
              <td>{{hours_sem5}}</td>
            </tr>

            <tr>
              <th scope="row">6th Sem</th>
              <td>{{courses_sem6}}</td>
              <td>{{credits_sem6}}</td>
              <td>{{hours_sem6}}</td>
            </tr>

            <tr>
              <th scope="row">7th Sem</th>
              <td>{{courses_sem7}}</td>
              <td>{{credits_sem7}}</td>
              <td>{{hours_sem7}}</td>
            </tr>

            <tr>
              <th scope="row">8th Sem</th>
              <td>{{courses_sem8}}</td>
              <td>{{credits_sem8}}</td>
              <td>{{hours_sem8}}</td>
            </tr>

            <tr>
              <th scope="row">Total</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
        </tbody>
      </table>

      <div>
        {% for i in "1234" %}
        <hr>
          {% comment %} <h4 style="font-weight: bold; text-align: center" class="mt-4">Year-{{ i }}, Semester-{{ 1 }}</h4> {% endcomment %}

          {% if i == "1" %}
            <h4 style="font-weight: bold; text-align: center" class="mt-4">1st Semester</h4>
            
            <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 1 }})">Pin this as current semester</button>

            
          {% elif i == "2" %}
            <h4 style="font-weight: bold; text-align: center" class="mt-4">3rd Semester</h4>
            
            <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 1 }})">Pin this as current semester</button>

          {% elif i == "3" %}
            <h4 style="font-weight: bold; text-align: center" class="mt-4">5th Semester</h4>
            
            <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 1 }})">Pin this as current semester</button>

          {% elif i == "4" %}
            <h4 style="font-weight: bold; text-align: center" class="mt-4">7th Semester</h4>

            <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 1 }})">Pin this as current semester</button>
          {% endif %}
      </div>
      
      <div style="width:50%; margin: 0 auto;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Total Courses</th>
                <th scope="col">Total Credits</th>
                <th scope="col">Total Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% if i == "1" %}
                <td scope="row">{{ courses_sem1 }}</td>
                <td>{{ credits_sem1 }}</td>
                <td>{{ hours_sem1 }}</td>
                
                {% elif i == "2" %}
                <td scope="row">{{ courses_sem3 }}</td>
                <td>{{ credits_sem3 }}</td>
                <td>{{ hours_sem3 }}</td>

                {% elif i == "3" %}
                <td scope="row">{{ courses_sem5 }}</td>
                <td>{{ credits_sem5 }}</td>
                <td>{{ hours_sem5 }}</td>

                {% elif i == "4" %}
                <td scope="row">{{ courses_sem7 }}</td>
                <td>{{ credits_sem7 }}</td>
                <td>{{ hours_sem7 }}</td>
                {% endif %}

              </tr>
            </tbody>
          </table>
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Title</th>
            <th scope="col">Course Code</th>
            <th scope="col">Credit</th>
            <th scope="col">Hour</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            {% if course.year == i|add:0 and course.semester == 1 %}
              <tr>
                <th scope="row">0</th>
                <td><a href="{% url 'view_course' course.id %}">{{ course.title }}</a></td>
                <td>{{ course.code }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.hour }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br>

      {% comment %} <h4 style="font-weight: bold; text-align: center" class="mt-4">Year-{{ i }}, Semester-{{ 2 }}</h4> {% endcomment %}

      <div>
        {% if i == "1" %}
        <h4 style="font-weight: bold; text-align: center" class="mt-4">2nd Semester</h4>

          <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 2 }})">Pin this as current semester</button>

        {% elif i == "2" %}
          <h4 style="font-weight: bold; text-align: center"     class="mt-4">4th Semester</h4>
          
          <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 2 }})">Pin this as current semester</button>

        {% elif i == "3" %}
          <h4 style="font-weight: bold; text-align: center" class="mt-4">6th Semester</h4>
        
          <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 2 }})">Pin this as current semester</button>

        {% elif i == "4" %}
          <h4 style="font-weight: bold; text-align: center" class="mt-4">8th Semester</h4>

          <button type="button" class="btn btn-secondary btn-sm" onclick="pinYearAndSemester({{ i }}, {{ 2 }})">Pin this as current semester</button>

        {% endif %}
      </div>

      <div style="width:50%; margin: 0 auto;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Total Courses</th>
              <th scope="col">Total Credits</th>
              <th scope="col">Total Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              {% if i == "1" %}
              <td scope="row">{{ courses_sem2 }}</td>
              <td>{{ credits_sem2 }}</td>
              <td>{{ hours_sem2 }}</td>
              
              {% elif i == "2" %}
              <td scope="row">{{ courses_sem4 }}</td>
              <td>{{ credits_sem4 }}</td>
              <td>{{ hours_sem4 }}</td>

              {% elif i == "3" %}
              <td scope="row">{{ courses_sem6 }}</td>
              <td>{{ credits_sem6 }}</td>
              <td>{{ hours_sem6 }}</td>

              {% elif i == "4" %}
              <td scope="row">{{ courses_sem8 }}</td>
              <td>{{ credits_sem8 }}</td>
              <td>{{ hours_sem8 }}</td>
              {% endif %}

            </tr>
          </tbody>
        </table>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Title</th>
            <th scope="col">Course Code</th>
            <th scope="col">Credit Hour</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            {% if course.year == i|add:0 and course.semester == 2 %}
              <tr>
                <th scope="row">0</th>
                <td><a href="{% url 'view_course' course.id %}">{{ course.title }}</a></td>
                <td>{{ course.code }}</td>
                <td>{{ course.credit }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endfor %}
  </div>


<script>
  function pinYearAndSemester(year, semester) {
      $.ajax({
          type: "POST",
          url: "{% url 'pin_year_and_semester' 555 999 %}".replace('555', year).replace('999', semester),
          data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(response) {
              // Handle success
              alert('Year ' + year + ' and semester ' + semester + ' pinned successfully!');
              // You can optionally update the UI or perform other actions here
          },
          error: function(response) {
              // Handle error
              alert('Failed to pin year and semester.');
          }
      });
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-o9D8b0qEGT5Br3SOGwnfO9NSeM4SBDjzVZcvZZZZ9dCvGz8ZbR9FO9Rn5KMsFVCq" crossorigin="anonymous"></script>


{% endblock %}
