{% extends "base.html" %}

{% block title %}My Department{% endblock %}

{% block content %}

{% comment %} {% for msg in messages %}
  <div class="alert alert-{{ msg.tags }}" role="alert">
    {{ msg }}
  </div>
{% endfor %} {% endcomment %}


  <div class="container mt-4 mb-4">
      <div class="text-center mt-3">
        <h2>Department of {{ department.name }}</h2>
        <p>(Faculty of {{ department.faculty }})</p>
        <h4>{{ university.name }}</h4>
      </div>

      {% comment %} <div>
        <a href="{% url 'switch_department' %}">Switch Department</a>
      </div> {% endcomment %}

<br/>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Semester</th>
            <th style="text-align: center;">Total Courses</th>
            <th style="text-align: center;">Total Credits</th>
            <th style="text-align: center;">Total Hours</th>
            <th style="text-align: center;">Total Resources</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <th scope="row">1st Sem</th>
              <td align="center">{{courses_sem1}}</td>
              <td align="center">{{credits_sem1|floatformat:"2"}}</td>
              <td align="center">{{hours_sem1}}</td>
              <td align="center">{{total_resources_sem1}}</td>
            </tr>

            <tr>
              <th scope="row">2nd Sem</th>
              <td align="center">{{courses_sem2}}</td>
              <td align="center">{{credits_sem2|floatformat:"2"}}</td>
              <td align="center">{{hours_sem2}}</td>
              <td align="center">{{total_resources_sem2}}</td>
            </tr>

            <tr>
              <th scope="row">3rd Sem</th>
              <td align="center">{{courses_sem3}}</td>
              <td align="center">{{credits_sem3|floatformat:"2"}}</td>
              <td align="center">{{hours_sem3}}</td>
              <td align="center">{{total_resources_sem3}}</td>
            </tr>

            <tr>
              <th scope="row">4th Sem</th>
              <td align="center">{{courses_sem4}}</td>
              <td align="center">{{credits_sem4|floatformat:"2"}}</td>
              <td align="center">{{hours_sem4}}</td>
              <td align="center">{{total_resources_sem4}}</td>
            </tr>

            <tr>
              <th scope="row">5th Sem</th>
              <td align="center">{{courses_sem5}}</td>
              <td align="center">{{credits_sem5|floatformat:"2"}}</td>
              <td align="center">{{hours_sem5}}</td>
              <td align="center">{{total_resources_sem5}}</td>
            </tr>

            <tr>
              <th scope="row">6th Sem</th>
              <td align="center">{{courses_sem6}}</td>
              <td align="center">{{credits_sem6|floatformat:"2"}}</td>
              <td align="center">{{hours_sem6}}</td>
              <td align="center">{{total_resources_sem6}}</td>
            </tr>

            <tr>
              <th scope="row">7th Sem</th>
              <td align="center">{{courses_sem7}}</td>
              <td align="center">{{credits_sem7|floatformat:"2"}}</td>
              <td align="center">{{hours_sem7}}</td>
              <td align="center">{{total_resources_sem7}}</td>
            </tr>

            <tr>
              <th scope="row">8th Sem</th>
              <td align="center">{{courses_sem8}}</td>
              <td align="center">{{credits_sem8|floatformat:"2"}}</td>
              <td align="center">{{hours_sem8}}</td>
              <td align="center">{{total_resources_sem8}}</td>
            </tr>


            <tr>
              <th scope="row" style="text-align: center;">Total</th>
              <td align="center"><strong>{{total_courses_s}}</strong></td>
              <td align="center"><strong>{{total_credits_s|floatformat:"2"}}</strong></td>
              <td align="center"><strong>{{total_hours_s}}</strong></td>
              <td align="center"><strong>{{total_resources_all_sem}}</strong></td>
            </tr>
        </tbody>
      </table>



    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">1st Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem1}}</td>
                  <td align="center">{{credits_sem1}}</td>
                  <td align="center">{{hours_sem1}}</td>
                  <td align="center">{{total_resources_sem1}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '1st' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">2nd Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem2}}</td>
                  <td align="center">{{credits_sem2}}</td>
                  <td align="center">{{hours_sem2}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '2nd' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">3rd Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem3}}</td>
                  <td align="center">{{credits_sem3}}</td>
                  <td align="center">{{hours_sem3}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '3rd' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>


    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">4th Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem4}}</td>
                  <td align="center">{{credits_sem4}}</td>
                  <td align="center">{{hours_sem4}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '4th' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td>*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">5th Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem5}}</td>
                  <td align="center">{{credits_sem5}}</td>
                  <td align="center">{{hours_sem5}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '5th' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">6th Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem6}}</td>
                  <td align="center">{{credits_sem6}}</td>
                  <td align="center">{{hours_sem6}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '6th' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">7th Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem7}}</td>
                  <td align="center">{{credits_sem7}}</td>
                  <td align="center">{{hours_sem7}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '7th' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <hr>
       <!-- Scroll to top button -->
       {% comment %} <button class="scroll-top-button" onclick="scrollToTop()">Top</button> {% endcomment %}

    <div>
      <div>
        <h4 style="font-weight: bold; text-align: center" class="mt-4">8th Semester</h4>

          <div style="width:50%; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Total Courses</th>
                  <th scope="col" style="text-align: center;">Total Credits</th>
                  <th scope="col" style="text-align: center;">Total Hours</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" align="center">{{courses_sem8}}</td>
                  <td align="center">{{credits_sem8}}</td>
                  <td align="center">{{hours_sem8}}</td>
                  <td align="center">*</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Course Title</th>
                  <th scope="col" style="text-align: center;">Total Resources</th>
                  <th scope="col" style="text-align: center;">Course Code</th>
                  <th scope="col" style="text-align: center;">Credit</th>
                  <th scope="col" style="text-align: center;">Hour</th>
                </tr>
              </thead>
              <tbody>
                {% for c in courses %}
                  {% if c.semester == '8th' %}
                    <tr>
                      <th scope="row" align="center">{{forloop.counter}}</th>
                      <td><a href="{% url 'view_course' c.id %}">{{c}}</a></td>
                      <td align="center">*</td>
                      <td align="center">{{c.code}}</td>
                      <td align="center">{{c.credit}}</td>
                      <td align="center">{{c.hour}}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>


    <hr>

    <br/>


<script>
  function pinYearAndSemester(year, semester) {
      $.ajax({
          type: "POST",
          url: "{% url 'pin_year_and_semester' 555 999 %}".replace('555', year).replace('999', semester),
          data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(response) {
              // Handle success
              alert('Year ' + year + ' and semester ' + semester + ' pinned successfully!');
              // You can optionally update the UI or perform other actions here
          },
          error: function(response) {
              // Handle error
              alert('Failed to pin year and semester.');
          }
      });
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-o9D8b0qEGT5Br3SOGwnfO9NSeM4SBDjzVZcvZZZZ9dCvGz8ZbR9FO9Rn5KMsFVCq" crossorigin="anonymous"></script>


{% endblock %}
